.button {
    background-color: white;
    border: 1px white solid;
    border-radius: 25px;
    background-color: rgb(198, 175, 230);
    padding: 5px;
    text-align: center;
    width: 200px;
}
.button:hover {
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}